@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Muli:400,300);

body {
    background: #eaeaea url(../img/bg_wall.jpg) repeat-y;
    background-size:100%;
    margin:0;
    padding:0;
    font-family: Lato, sans-serif;
    font-size:12px;
}

.contact {
    height:6px;
    background-color:#303030;
    position:relative;
}

    .contact .contactBtn {
        position: absolute;
        bottom:-20px;
        background-color: #303030;
        color:#fff;
        border:none;
        padding:5px 30px;
        border-bottom-left-radius:7px;
        border-bottom-right-radius:7px;
        font-size: 11px;
    }

.social {
    list-style: none;
    text-align: right;
}

    .social li {
        width:40px;
        height:40px;
        display: inline-block;
        background-color:#fff;
        border:1px solid #eaeaea;
        border-radius:5px;
        margin-left: 15px;
        margin-top:15px;
    }

        .social li.rss {
            background:#fff url(../img/rss.png) no-repeat center center;
        }

        .social li.facebook {
            background:#fff url(../img/facebook.png) no-repeat center center;
        }

        .social li.twitter {
            background:#fff url(../img/twitter.png) no-repeat center center;
        }

        .social li.linkedin {
            background:#fff url(../img/linkedin.png) no-repeat center center;
        }

.contentBg {
    background:#fff;
    border:1px solid #eaeaea;
    border-radius:5px;
    padding:10px 20px;
}

.logo {
    display: inline-block;
    background-color:#303030;
    color:#fff;
    border-radius:50%;
    width:64px;
    height:64px;
    text-align: center;
    line-height: 64px;
    font-size:24px;
}

.name {
    font-family:Muli, sans-serif;
    display: inline-block;
    vertical-align: middle;
    border-left:1px dotted rgba(162, 162, 162, 0.26);
    margin-left: 10px;
    padding-left:10px;
}

    .name p {
        font-size:18px;
        color:#555555;
        margin:0;
    }

    .name small {
        color:#a2a2a2;
        font-size: 12px;
    }

.navigation {
    list-style: none;
    text-align: right;
    margin-top:15px;
    border-bottom:1px solid #eaeaea;
    padding-bottom:15px;
}

    .navigation li {
        font-family: Muli, sans-serif;
        font-size:12px;
        display: inline-block;
        margin-left:20px;
    }

        .navigation li:first-child {
            margin-left:0;
        }

        .navigation li a.active {
            color:#b5b5b5;
        }

header {
    border-bottom:1px solid #f5f5f5;
    padding-bottom:20px;
}

.profile {
    padding:0;
    text-align: center;
    margin-top:30px;
}

.title {
    padding-left: 20px;
}

    .title h1 {
        font-family: Muli, sans-serif;
        letter-spacing: -1px;
        font-size:30px;
        color:#555555;
        margin-bottom:0;
    }

        .title h1 span {
            color:#0087e3;
        }

    .title p {
        font-weight: 300;
        font-size:18px;
        margin:10px 0;
    }

        .title p.lead {
            font-weight: 400;
            color:#7c7c7c;
        }

.mainCta {
    width:240px;
    height:60px;
    border:3px solid #fff;
    border-radius:5px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.15);
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    position:relative;
    margin-top:10px;
}

.blackBtn {
    position:absolute;
    left:-5px;
    top:10px;
    display: inline-block;
    background: rgba(64,64,64,1);
    background: -moz-linear-gradient(left, rgba(64,64,64,1) 0%, rgba(145,145,145,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 71%, rgba(20,20,20,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,64,64,1)), color-stop(50%, rgba(145,145,145,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(71%, rgba(20,20,20,1)), color-stop(100%, rgba(20,20,20,1)));
    background: -webkit-linear-gradient(left, rgba(64,64,64,1) 0%, rgba(145,145,145,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 71%, rgba(20,20,20,1) 100%);
    background: -o-linear-gradient(left, rgba(64,64,64,1) 0%, rgba(145,145,145,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 71%, rgba(20,20,20,1) 100%);
    background: -ms-linear-gradient(left, rgba(64,64,64,1) 0%, rgba(145,145,145,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 71%, rgba(20,20,20,1) 100%);
    background: linear-gradient(to right, rgba(64,64,64,1) 0%, rgba(145,145,145,1) 50%, rgba(0,0,0,1) 51%, rgba(20,20,20,1) 71%, rgba(20,20,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#141414', GradientType=1 );
    color:#fff;
    width:36px;
    height:34px;
    border-radius:4px;
    border:1px solid #fff;
    box-shadow:1px 1px 2px rgba(0,0,0,0.5);
}

    .blackBtn span {
        color:#fff;
        font-size:32px;
        position:absolute;
        top:-10px;
        left:12px;
    }

.ctaText {
    font-size:26px;
    color:#747474;
    letter-spacing: -1px;
    display: inline-block;
    margin-left:40px;
}

.ctaText:hover {
    text-decoration: none;
}

    .ctaText span {
        display: block;
        font-size: 10px;
        letter-spacing: normal;
        color:#0087e3;
        margin-top:-5px;
    }

article {
    border-bottom:1px solid #eaeaea;
    padding-bottom:10px;
}

.postImg {
    background:#eaeaea url(../img/picture1.jpg) no-repeat;
    background-size:100%;
    min-height: 335px;
    border:5px solid #fff;
    outline:1px solid #eaeaea;
    text-align: right;
    position:relative;
    margin-bottom:10px;
}

    .postImg img {
        position:absolute;
        top:-5px;
        right:-5px;
    }

.nonFeatured {
    background:#eaeaea url(../img/picture2.jpg) no-repeat;
    background-size:100%;
}

.articleText {
    border-right:1px solid #eaeaea;
    padding-right:20px;
    margin-top:5px;
}

.articleInfo {
    padding:0 30px 10px;
}

.circles {
    height:75px;
    width:75px;
    border-radius:50%;
    background:#04568e;
    color:#fff;
    text-align: center;
    display:inline-block;
    margin-bottom:10px;
}

    .circles.gray {
        background:#4a4a4a;
        z-index:4;
        position:relative;
        left:-10px;
    }

.comments p,
.date p{
    line-height: 14px;
    margin-top:20px;
}

.comments p span,
.date p span{
    font-size:32px;
}

.category {
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
    padding:5px 0;
}
    .category p {
        margin:0;
    }

.tags {
    margin:5px 0;
    border-bottom:1px solid #eaeaea;
    padding-bottom:5px;
}
    .tags p {
        margin:0;
    }

.readMoreBtn {
    display: inline-block;
    background-color: #04568e;
    color:#fff;
    text-transform: uppercase;
    padding:5px 20px;
    font-size:10px;
    margin-top:5px;
}

.readMoreBtn:hover {
    color:#fff;
    text-decoration: none;
    background: #158ee0;
}

.facebookLike {
    margin:10px 0;
    border-bottom:1px solid #eaeaea;
    padding-bottom:10px;
}

    .facebookLike img {
        margin-right:5px;
    }
    .facebookLike small {
        vertical-align: middle;
        font-size: 11px;
    }


.thumb {
    border-bottom:1px solid #eaeaea;
    padding-bottom:10px;
    margin:15px 0;
}

.thumb img {
    border:5px solid #fff;
    outline:1px solid #eaeaea;
}


.thumbText h4{
    margin:0 0 5px 0;
}

.thumbText time {
    color:#bfbfbf;
}

.thumbText p {
    margin-top:5px;
}

/* SIDE BAR */

aside {
    border-left:1px solid #eaeaea;
    padding-left:10px;
}

#searchBox {
    margin-top: 20px;
    border-bottom:1px solid #eaeaea;
    padding-bottom:20px;
}

#searchBox input {
    border-radius:0;
    font-size:12px;
    border:1px solid #eaeaea;
}

#basic-addon2 {
    border-radius:0;
    background-color:#333;
    color:#fff;
    padding:0px 8px;
    border:1px solid #eaeaea;
    border-left:none;
}

#basic-addon2 .searchIcon {
    font-size:18px;
}

.newsletter {
    background: #87e0fd;
    background: -moz-radial-gradient(center, ellipse cover,  #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    background: radial-gradient(ellipse at center,  #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 );
    color:#fff;
    text-align: center;
    min-height:189px;
    border-radius:5px;
    padding:10px;
    margin:20px 0;
}

.newsletter h3 {
    font-size:32px;
    margin:0 0 10px 0;
    font-family:Muli, sans-serif;
    font-weight: 300;
    text-shadow:1px 1px 5px rgba(0,0,0,0.35);
}

.newsletter h3 span {
    text-transform: uppercase;
    font-weight: 700;
}

.newsletter p {
    margin:0 0 10px 0;
    font-size:18px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-shadow:1px 1px 5px rgba(0,0,0,0.45);
    line-height: 22px;
}

.newsletter p span {
    font-weight: 700;
}

.newsletter input {
    border-radius:0;
    text-align: center;
    margin-bottom:10px;
}

.newsletter .newsBtn {
    color:#04568e;
    font-size:16px;
    padding:3px 20px;
    background: rgb(255,255,255);
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
    border:1px solid #eaeaea;
    box-shadow:1px 1px 5px rgba(0,0,0,0.45);
}

.newsBtn:hover {
    background:#ff4141;
    color:#fff;
}

.categoryList {
    margin:10px 0 20px;
    padding-left:25px;
}

.categoryList ul {
    display: inline-block;
    margin:0;
    padding:0;
    list-style-image: url(../img/starList.jpg);
}

.categoryList ul:first-child {
    margin-right:30px;
}

.categoryList ul li {
    padding:5px 0;
    border-bottom:1px dotted #eaeaea;
    min-width: 140px;
}

/* BARRA VERTICAL - SOCIAL MEDIA */

#article2,
#article1{
    position: relative;
}

.socialBar {
    background: #fff;
    width:65px;
    height:322px;
    border:1px solid #eaeaea;
    padding:5px;
    position:absolute;
    top:0;
    left:-85px;
}

    .socialBar img {
        margin-top:5px;
        margin-bottom:8px;
    }

.numberShares {
    width:52px;
    height:30px;
    text-align: center;
    line-height: 30px;
    font-size:14px;
    border:1px solid #eaeaea;
}



footer {
    width: 100%;
}

    footer img {
        width:100%;
    }